/* ALL GRAPHICS ON THE WEBSITE WERE MADE BY ME :)
   I DID FOLLOW A COUPLE OF TUTORIALS TO HELP WITH THE VISUAL
   ASPECT OF THE ASSIGNMENT. ADJUSTMENTS WERE MADE TO THE TUTORIALS TO KEEP A
   CONSISTENT STYLE ON THE WEBSITE. EVERYTHING SHOULD BE MENTIONED IN
   COMMENTS BELOW. I INDICATED WHICH PARTS OF THE CODE ARE DONE BY
   FOLLOWING A TUTORIAL (WHERE THE TUTORIAL CODE STARTS AND ENDS)*/

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: 1em;

  background-image: linear-gradient(#E4DDD3, #D8C6AC);
  height: 100vh; /*vh = viewport height*/
}

/* HEADINGS + PARAGRAPH*/
h1{
  font-family: "Droid Serif", sans-serif;
  font-size: 2em;
}

h4 {
  font-family: "Droid Serif", sans-serif;
  font-size: 1em;
}

p{
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

/* TABLE PROPERTIES */
table{
  padding: 1em;
}

td {
  padding: 0.7em;
  padding-left: 1em;
}

th{
  text-align: center;
}

/* NAVIGATION BAR */
nav li a:link{
  text-decoration: none;
  color: #A99B87;     /*darker beige*/
  padding: 1em 1em;
  transition: 0.5s ease;
}

nav ul li a:hover{
  color: #9E472C;     /*red*/
}

nav ul li a.active{
  border-bottom: 0.1em solid #A99B87;
  color: #A99B87;       /*darker beige*/
}

/*SUBMENU NAVIGATION BAR */
nav{
  display: block;    /* makes nav horizontal*/
}

nav li{
  float: left;
  display: block;   /*gets rid of bullet points */
  padding: 0.5em;   /*padding for subnav bar */
      /*makes bg for the nv bar the same width when hover*/
}

nav ul{
  position: relative;
}

nav li ul {
  position: absolute;
  display: none;          /*hides subnavigation, make sure that </li> closes just before </ul> in html for this to work */
  margin-left: 2em;
}

nav li li {
  float: none;
  padding: 1em;
  /* background: #668F85; */
}

nav li:hover ul{
  display: block;     /* displays subnavigation */
  padding-top: 1em;   /*makes it not crash into main nav bar */
}

nav li li a:hover {
  background-color: rgba(218, 207, 193, 0.5);
}

/* LINKS */
a:visited{
  color: #668F85;    /*mossy green*/
}

a{
  color: #47658B;     /*navy blue*/
  text-decoration: none;
}

a:hover{
  color:#9E472C     /*red*/
}

a:active{
  color:#A99B87;    /*darker beige*/
}

/*CONTENT_INDEX*/
.title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2E2929;
}

/*BUTTON FOR HOME PAGE*/

button {
  background: none;
  width: 20em;
  border: 0.1em solid #2E2929;
  padding: 0.5em;
  font-family: "Lato", sans-serif;
  color: #2E2929;
  font-weight: bold;
}

button:hover {
  border-color: #668F85;  /*mossy green*/
  color:  #668F85;
  transition: 0.8s ease;
}


/*BUS ANIMATION*/
/*tutorial @ https://www.youtube.com/watch?v=gW0dwO2JNmE */
/* Code creates an animation of a bus moving along a road.
   Graphics are made myself (on Figma) and there are slight adjustments in the
   original code so that my assets are able to be animated the way they are
   supposed to.
   Retrieved: November 9, 2019
*/

/*tutorial starts*/
.road{
  height: 100px;
  max-width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 1;
}

.city{
  height: 250px;
  width: 100px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  animation: city 20s linear infinite;
}

@keyframes city{
  100%{
    transform: translateX(-1400px);
  }
}

.bus{
  width: 500px;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.bus img{
  width: 100%;
  animation: bus 1s linear infinite;
}

@keyframes bus{
  100% {
    transform:translateY(-2px);
  }
  50% {
    transform:translateY(2px);
  }
  0% {
    transform:translateY(-1px);
  }
}

.wheel{
  left: 50%;
  bottom: 178px;
  transform: translateX(-50%);
  position:absolute;
  z-index: 2;
}

.wheel img{
  width: 72px;
  height: 72px;
}

.back-wheel{
    left: -190px;
    bottom: -150px;
    position: absolute;
}

.front-wheel{
    left: 90px;
    bottom: -150px;
    position: absolute;
}
/*tutorial ends*/

/*GRAPHIC DESIGN*/

/*gd home page*/

figure{
  display: inline-block;
  float: left;
}

figure img {
  margin:1em auto;
  transition: 1s;
}

.cardimage:hover{   /*makes cardimages "pop" a bit when hovering */
  transform: scale(1.1);
  transition: 1s;     /*transition in both fig img and hover creates a subtle transition*/

}

figcaption{
  text-align: center;
  color: #2E2929;
}

.cardimage {
  width: 15em;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10);
}

.gdlink {
  color: #2E2929;
  text-decoration: none;
}

/*character illu, poster, logo*/
.image{             /*general format for most images*/
  width: 15%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10);
  margin-left: 2em;
  margin-bottom: 2em;
}

/*ZOOM IN ON IMAGES*/
/* tutorial @ https://www.youtube.com/watch?v=ho_qcYPN51g
   Code allows for a zoomed in copy of the image you are hovering on to pop up on the side.
   Retrieved: November 10, 2019
   */

/* tutorial starts*/
.image:hover + .imagebig{
  width: 35%;
}

.imagebig{
  position:absolute;
  width: 0px;
  transition: width 0.3s linear 0s;
  z-index: 5;
}
/* tutorial ends*/

.inner_width{     /*general formatting for everything on graphic design page...but can apply to any other page */
  width: 100%;
  margin: auto;
  padding: 0 3em;
  background-image: linear-gradient(#E4DDD3, #D8C6AC);  /*makes sure background appears as it should*/
}

.inner_width h1{
  padding-top: 3em;
  text-align:center;
  padding-bottom: 2em;

}

/*flat design*/
.flatdesigns img{
  width: 25%;
  height: auto;
}

/*video*/
.video {
}

/*motion graphics*/
.mograph figure{
  display: table;
}

.mograph figure p {
  display: table-caption;
  caption-side: top;
}

iframe {
  border: none;
}

/*ABOUT PAGE*/

/*tutorial @ https://www.youtube.com/watch?v=DNiGz7Zxk2Y&list=PLOlY5Tr4oIyn4drLmJqzFAP_lvuA08j58&index=7&t=16s */
/* Code allows photos to appear in color when mouse hovers over them.
   Code also hides content that is not under a particular div class (only shows
   when you click on the respective icon).
   Retrieved: November 8, 2019
*/

/* tutorial starts*/
.team-section{
  overflow: hidden;
  text-align: center;
}

.team-section h1{
  color: white;
  text-transform: capitalize;
}

.photos a{
  display: inline-block;
  width: 7em;
  height: 7em;
  overflow: hidden;
  margin-right: 1em;
}

.photos a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s;
}

.photos a:hover > img {
  filter:none;
}

.section {              /* what appears when you click the icon */
  width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

/* tutorial ends*/

.section:target{
  height: auto;
}

.name{
  border-top: 0.2em solid #A99B87;
  padding-top: 1em;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.aboutmephoto{
  width: 100%;
  height: auto;
}

/*ABOUT - THOUGHTS form*/

/*tutorial @ https://www.youtube.com/watch?v=IxRJ8vplzAo */
/* Code allows for small animation in the form
   Retrieved: November 8, 2019
*/

/* tutorial starts*/

.form{
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
  color: #A99B87;
  padding-bottom: 6px;
  border-bottom: 1px solid #A99B87;
}

.form input {
  width: 100%;
  height: 100%;

  padding-top: 20px;
  border: none;
  background-image: linear-gradient(#DAC9B1, #D8C6AC);    /*makes input the same color as bg*/
  outline: none;
}

.form label{
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
}

.form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #47658B;    /*line for comments*/
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
  transform: translateY(-150%);
  font-size: 14px;
  color: #47658B;     /*dark blue*/
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after{
  transform:translateX(0%);
}
/* tutorial ends*/

/*submit button*/
.button {
  background: none;
  width: 10em;
  border: 0.1em solid #2E2929;
  padding: 0.5em;
  font-family: "Lato", sans-serif;
  color: #2E2929;
  font-weight: bold;
}

.button:hover{
  border-color: #668F85;  /*mossy green*/
  color:  #668F85;
  transition: 0.8s ease;
}

/*thank you page*/

.thank_you{
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2E2929;
}

.thank_you_button{
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #2E2929;
}
